.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}

.google-btn {
  background-image: url("../../assets/google_signin_buttons/web/2x/btn_google_signin_light_normal_web@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 210px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
}
